<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>CFBundleIconFile</key>
	<string>icons.icns</string>
	<key>CFBundleDisplayName</key>
	<string>Got-Qt</string>
	<key>CFBundleName</key>
	<string>Got-Qt</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleGetInfoString</key>
	<string>Created by Alex Walker</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleExecutable</key>
	<string>qt</string>
	<key>CFBundleIdentifier</key>
	<string>com.ident.qt</string>
	<key>NOTE</key>
	<string>This file was created by me.</string>
</dict>
</plist>
